
.bg {
    width: 100%;
    max-width: 1920px;
    height: auto;
}


.main_slider {

    position: relative;
  
  }
  
  .main_slider button {
  
    position: absolute;
  
    z-index: 5;
  
    /* top: 50%;
  
    transform: translateY(-50%); */
  
    width: 60px;
  
    height: 60px;
  
    border-radius: 100%;
  
    border: none;
  

  
  }
  
  .main_slider button::before {
  
    font-size: 50px;
  
    color: #121212;
  
  }
  
  .main_slider button.slick-prev {
  
    left: -72px;
  
    font-size: 0;
  
    color: transparent;
  
  }
  
  .main_slider button.slick-prev::before {
  
    content: "←";
  
    font-family: "xeicon";
  
  }
  
  .main_slider button.slick-next {
  
    right: -72px;
  
    font-size: 0;
  
    color: transparent;
  
  }
  
  .main_slider button.slick-next::before {
  
    content: "→";
  
    font-family: "xeicon";
  
  }


  @media screen and (min-width: 768px) and (max-width: 1024px) {
      
  .main_slider button::before {
  
    font-size: 24px;
  
    color: #fff;
  
  }


  .main_slider button.slick-prev {
  
    left: 18px;
  
    font-size: 0;
  
    color: transparent;
  
  }
  
  
  .main_slider button.slick-next {
  
    right: 18px;
  
    font-size: 0;
  
    color: transparent;
  
  }


  .main_slider button.slick-prev::before {
  
    content: "◀";
  
    font-family: "xeicon";
  
  }

  .main_slider button.slick-next::before {
  
    content: "▶";
  
    font-family: "xeicon";
  
  }

  
  }


  
  @media screen and (max-width: 767px){
      
    .main_slider button::before {
    
      font-size: 16px;
    
      color: #fff;
    
    }
  
  
    .main_slider button.slick-prev {
    
      left: -16px;
    
      font-size: 0;
    
      color: transparent;
    
    }
    
    
    .main_slider button.slick-next {
    
      right: -16px;
    
      font-size: 0;
    
      color: transparent;
    
    }
  
  
    .main_slider button.slick-prev::before {
    
      content: "◀";
    
      font-family: "xeicon";
    
    }
  
    .main_slider button.slick-next::before {
    
      content: "▶";
    
      font-family: "xeicon";
    
    }
  
    
    }
  